Repository mehta-lab/VisCy, pull requests merged in 2024-11, with the labels that each got.

#196 GPU transform for FCMAE pre-training
  viscy/data/combined.py
  viscy/data/ctmc_v1.py
  viscy/data/gpu_aug.py
  viscy/data/livecell.py
  viscy/data/typing.py
  viscy/transforms.py
  viscy/translation/engine.py
Labels: enhancement, translation

#203 Expose prefetch_factor and persistent_worker for the HCS datamodule
  viscy/data/hcs.py
Labels: translation

#212 Explicit target shape argument in the HCS data module
  tests/data/test_data.py
  viscy/data/hcs.py
Labels: breaking, translation

#211 Rank nearest neighbors in embedding space
  applications/contrastive_phenotyping/evaluation/time_decay_knn.py
  viscy/representation/evaluation/clustering.py
Labels: enhancement, representation
