Repository mehta-lab/VisCy, pull requests merged in 2024-09, with the labels that each got.

#144 Add script to visualize effective receptive field
  viscy/scripts/effective_receptive_field.py
Labels: documentation

#154 Sample positive and negative samples with a time offset for the triplet contrastive task
  applications/contrastive_phenotyping/contrastive_cli/fit_ctc_mps.yml
  applications/contrastive_phenotyping/contrastive_cli/predict_ctc_mps.yml
  viscy/data/triplet.py
Labels: enhancement

#160 Linear probing
  applications/contrastive_phenotyping/evaluation/grad_attr.py
  applications/contrastive_phenotyping/evaluation/linear_probing.py
  pyproject.toml
  tests/representation/test_lca.py
  viscy/data/triplet.py
  viscy/representation/lca.py
Labels: bug, enhancement, representation

#170 Tweak attribution visualization
  applications/contrastive_phenotyping/evaluation/figure.mplstyle
  applications/contrastive_phenotyping/evaluation/grad_attr.py
  applications/contrastive_phenotyping/figures/organelle_dynamics.py
  pyproject.toml
  viscy/representation/lca.py
Labels: representation

#175 Center GIF
  README.md
Labels: documentation

#176 UMAP line plot to assess temporal smoothness in features space
  applications/contrastive_phenotyping/figures/organelle_dynamics.py
  applications/contrastive_phenotyping/figures/track_smoothness.py
  viscy/representation/evaluation.py
Labels: representation

#172 adding VS hugginface demo
  README.md
  docs/figures/vs_hf_demo.gif
Labels: documentation

#159 Fixes on correlation of PCA and UMAP components to computed_feature script
  applications/contrastive_phenotyping/evaluation/PC_vs_CF.py
  applications/contrastive_phenotyping/evaluation/PC_vs_CF_singleChannel.py
  viscy/representation/evaluation.py
Labels: bug, representation

#168 updated eval module & cosine sim figures
  applications/contrastive_phenotyping/evaluation/cosine_similarity.py
  applications/contrastive_phenotyping/evaluation/displacement.py
  applications/contrastive_phenotyping/evaluation/log_regresssion_training.py
  applications/contrastive_phenotyping/evaluation/pca_umap_embeddings_time.py
  applications/contrastive_phenotyping/figures/figure_cell_infection.py
  applications/infection_classification/Infection_classifier_accuracy.py
  viscy/representation/evaluation.py
Labels: representation
