Repository mehta-lab/VisCy, pull requests merged in 2025-06, with the labels that each got.

#254 Reiterate cell feature vs PC script
  applications/contrastive_phenotyping/evaluation/PC_vs_CF.py
  applications/contrastive_phenotyping/evaluation/PC_vs_computed_features.py
  applications/contrastive_phenotyping/evaluation/compute_pca_features.py
  pyproject.toml
  tests/conftest.py
  tests/evaluation/test_cell_feature_metrics.py
  tests/representation/test_feature.py
  viscy/representation/evaluation/feature.py
Labels: documentation, enhancement, representation

#258 ONNX support for DynaCLR
  examples/DynaCLR/README.md
  examples/DynaCLR/examples_cli/dynaclr_microglia_onnx.yml
  viscy/data/hcs.py
  viscy/data/triplet.py
  viscy/representation/engine.py
  viscy/utils/slurm_utils.py
Labels: enhancement, representation

#261 Document AugmentedPredictionVSUNet
  viscy/translation/engine.py
Labels: documentation, translation

#262 Replace black with ruff
  .github/workflows/pr.yml
  CONTRIBUTING.md
  examples/virtual_staining/dlmbl_exercise/prepare-exercise.sh
  examples/virtual_staining/dlmbl_exercise/setup.sh
  examples/virtual_staining/img2img_translation/prepare-exercise.sh
  examples/virtual_staining/img2img_translation/setup.sh
  examples/virtual_staining/phase_contrast/prepare-exercise.sh
  examples/virtual_staining/phase_contrast/setup.sh
  pyproject.toml
  tests/unet/networks/Unet25D_tests.py
  tests/unet/networks/Unet2D_tests.py
  tests/unet/networks/layers/ConvBlock2D_tests.py
  tests/unet/networks/layers/ConvBlock3D_tests.py
  viscy/representation/evaluation/dimensionality_reduction.py
  viscy/scripts/profile_dataloader.py
  viscy/scripts/visualize_features.py
  viscy/unet/networks/Unet25D.py
  viscy/unet/networks/Unet2D.py
  viscy/utils/cli_utils.py
  viscy/utils/logging.py
  viscy/utils/mp_utils.py
Labels: maintenance, CI

#265 Update README.md to point to NMI 2025
  README.md
Labels: documentation
